<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
	<typeAliases>
		<package name="com.kh" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
				<property name="username" value="JJAB"/>
				<property name="password" value="JJAB"/>
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<mapper resource="/mappers/board-mapper.xml"/>
		<mapper resource="/mappers/community-mapper.xml"/>
		<mapper resource="/mappers/jobpost-mapper.xml"/>
		<mapper resource="/mappers/mypage-mapper.xml"/>
		<mapper resource="/mappers/cormypage-mapper.xml"/>
		<mapper resource="/mappers/propose-mapper.xml"/>
	</mappers>
</configuration>