/*박윤비 기업 공고 상세페이지 제작중 미완성 12:18*/
html, body {
	margin: 0;
	height: 100%;
}
/*h3 제목과 아래 컨텐츠 맞춤용*/
.content_title {
    font-weight: bold;
    font-size: 25px;
    margin: 30px 0 20px 0;
}


/*all_list 공고 전체*/
.all_list {
	width: 100%;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid skyblue;
	margin-bottom: 20px;
}

.all_list li {
	width: 100%;
	display: block;
	flex-basis: 15%;
	list-style: none;
	text-align: center;
	margin: auto 0;
	padding: 5px;
}

#list_title {
	flex-basis: 55%;
}

.s_info ul, .all_list ul {
    width: 100%;
    display: inline-flex;
    font-size: 18px;
}

.s_info li {
	list-style: none;
	font-size: xx-small;
	padding: 5px 0;
}

.s_info ul {
	display: block;
}

/*공고보기 버튼*/
.btn {
	border: 2px solid red;
	border-radius: 30px;
	margin: 0 auto;
	padding: 10px;
}

.btn a {
	color: red;
}

.btn:hover {
	background-color: rgba(255, 0, 0, 0.1);
}

/*링크 기본 설정*/
a {
	text-decoration-line: none;
	color: black;
}

/*전체 화면 크기 조절용*/
.main {
	max-width: 1000px;
	margin: 0 auto;
}


/*최상단 배너*/
.top_banner, .new_banner_content{
    height: 330px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.top_b1 {
    background-color: aquamarine;
}

.top_b1, .new_banner{
	height: 330px;
    position: relative; 
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
    cursor: pointer;
    border-radius: 20px;
    flex-basis: 30%;
	border: 2px solid skyblue;
	
}

.top_b1-1, .new_banner-1{
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    border: 3px solid aquamarine;
    border-radius: 20px;
    padding: 20px 20px 0 20px;
    margin-bottom: 20px;
}

.top_b1 span, .new_banner span{
    margin: 8px 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.new_banner-1 {
	border: 0;
}

.top_b1-2, .new_banner-2 {
    display: flex;
    flex-direction: column;
	margin: 10px 20px 0 20px;
}

.top_b1:hover, .new_banner:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); 
    transform: translateY(-5px); 
}

.corpname-font{
	font-size: 25px;	
}
.content_bottom {
    text-align: right;
    padding-top: 5px;
}

.logoBox{
	margin: 20px;
}

article>img {
	max-width: 100%;
	max-height: 100%;
}

/* 눈깔img */
.hit{
	height: 10px;
}