body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container-enroll {
    /*회원가입 박스 전체 틀*/
    width: 600px;
    margin: 65px auto;
}

.container-enroll input {
	border: 1px solid skyblue;
}

.container-enroll input:focus{
    outline-color: skyblue;
}

.container-enroll div { 
    margin-bottom: 8px;
}

.enroll-title{
    font-size: 20px;
    margin-top: 20px;
}

.enroll-textL {
    /*입력 정보 길이가 긴 인풋태그*/
    width: 95%;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.enroll-idcheck{
    display: flex;
    justify-content: space-between;
    margin-right: 27px;
    align-items: flex-end;
}
.id-duplicate{
    width: 120px;
    height: 29px;
    border-radius: 5px;
    background-color: skyblue;
    color: white;
}

/*이메일 셀렉트 박스 css*/
.container-enroll .email-selectBox {
	width:123px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid skyblue;
    outline-color: skyblue;
}

/*핸드폰 셀렉트 박스 css*/
.container-enroll .phone-selectBox {
    width: 85px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid skyblue;
    outline-color: skyblue;
}

.container-enroll .enroll-phoneBox {
    /*입력 정보 인풋태그 text*/
    width: 430px;
    padding: 8.5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.container-enroll .enroll-email{
    /*이메일 인풋태그*/
    width: 200px;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.container-enroll .email-selectText{
    /*직접입력 누르면 나오는 인풋태그*/
    width: 172px;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}



.container-enroll .enroll-div{
    /*입력 정보 감싸는 틀*/
    border: 7px solid skyblue;
    padding: 5px 50px 30px 50px;
    border-radius: 20px;
    width: 660px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-enroll .enroll-btn {
    /*가입 버튼*/
    background-color: skyblue;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.flex-container{
	display: flex;
	flex-direction: column;
}

.enroll-btnBox{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container-enroll .link-enroll {
    /*개인 & 기업 회원가입 이동 틀*/
    border: none;
    width: 660px;
    height: 115px;
    margin-bottom: 30px;
}

.enroll-required{
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 50px;
}

.link-enroll{
	display: flex;
}

.enroll-button {
    /*개인 & 기업 회원가입 이동 앵커태그*/
    height: 100%; 
    width: 100%; 
    text-align: center; 
    line-height: 90px; 
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.expand-green {
    background-color: skyblue; 
    border: none;
    color: #fff;
    width: 50%;
}

.contract-white {
    background-color: #ffff; 
    border: 3px solid skyblue; 
    color: skyblue;
    width: 50%;
}

.radius-left {
    /*왼쪽 모서리 둥글게*/
    border-radius: 20px 0 0 20px;
}

.radius-right {
    /*오른쪽 모서리 둥글게*/
    border-radius: 0 20px 20px 0;
}