/*박윤비 기업 공고 상세페이지 제작중 미완성 12:18*/
a {
	text-decoration-line: none;
	color: black;
}

.menu_li {
	list-style: none;
	margin: 0;
	width: 100%;
	text-align: center;
	padding: 10px 0;
}

ul {
	text-align: center;
	margin: 0;
	padding: 0;
}