
a {
	text-decoration-line: none;
	color: black;
}
.side{
	width: 200px;	
}
.menu_li {
	list-style: none;
	text-align: center;
	border-right : 1px solid black;
	margin-top: 40px;
	border: 3px solid lightgreen;
	height: 40px;
	cursor: pointer;
	border-radius: 15px;
	font-weight: bold;
	padding: 5px;
}

ul {
	padding: 0;
	margin-bottom: 20px;
}

.menu_li:hover{
	background-color: #f0f0f0; 
    color: #ff6600; 
    transition: background-color 1s, color 1s, border-color 1s;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	border-color: green;
}