a {
	text-decoration-line: none;
	color: black;
}

.side{
	width: 200px;	
}

.menu_li {
	height: 40px;
	list-style: none;
	text-align: center;
	font-weight: bold;
	border: 3px solid skyblue;
	border-radius: 15px;
	cursor: pointer;
	margin-top: 40px;
	padding: 5px;
}

ul {
	padding: 0;
	margin-bottom: 20px;
}

.menu_li:hover{
	background-color: #f0f0f0; 
    transition: background-color 0.5s, border-color 0.5s;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
	border-color: #1188ff;
}