@charset "UTF-8";

.main {
	display: flex;
	hight: 100%;
	margin: 0;
	text-align:center;
}

.side {
	width: 200px;
	height: 2000px;
	padding-top: 20px;
}

.content {
	width: 1000px;
	height: 2000px;
}