<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adminMapper">
	<resultMap type="Corporation" id="com.kh.corporation.model.vo.Corporation"/>
	<!--  민구 사용중 -->
	<!--  기업 등록개수 -->
	<select id="reportNo" resultType="reportVO">
	   SELECT A.NOTICE_NO,
	   		A.RECEIVER,
	   		A.NOTICE_TYPE,
	   		B.NOTICE_TEXT
		FROM NOTICE A,
			 NOTICE_TYPE B
	</select>
	
	<!--  기업 등록 허용 -->
	<select id="viewCorporation" resultType="corporationVO">
	   SELECT CORP_NO,
	   	CORP_NAME,
	   	CEO_NAME,
	   	CORP_BN,
	   	ADDRESS,
	   	HOMEPAGE
	  	 FROM CORPORATION
	  	 WHERE CORP_NO = #{userType}
	</select>
	
</mapper>