<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="communityMapper">
	<resultMap id="postResultSet" type="post">
		<id column="POST_NO" property="postNo"/>
		<collection property="replyList" javaType="java.util.ArrayList"
			ofType="reply" select="selectReplyList" column="POST_NO"/>
	</resultMap>
	
	<resultMap id="replyResultSet" type="reply"/>
	
	
	<!-- 게시글 갯수 파악 -->
	<select id="selectPostCount" parameterType="hashmap" resultType="_int">
	    SELECT COUNT(*) FROM BOARD_POST
	    WHERE STATUS = 'Y'
		<if test='!category.equals("A")'>
		    AND CATEGORY = #{category}
	    </if>
		<if test='!keyword.equals("NULLNULLNULLNULLNULL")'>
		    AND POST_CONTENT LIKE '%${keyword}%'
	    </if>
	</select>
	
	<!-- 모든, 특정 게시글 조회 -->
	<select id="selectPostList" parameterType="hashmap" resultMap="postResultSet">
	    SELECT POST_NO, POST_TITLE, POST_CONTENT, USER_ID, COUNT, CREATE_DATE
		FROM BOARD_POST P
		JOIN MEMBER ON POST_WRITER = USER_NO
		WHERE P.STATUS = 'Y'
		<if test='!category.equals("A")'>
		    AND CATEGORY = #{category}
	    </if>
		<if test='!keyword.equals("NULLNULLNULLNULLNULL")'>
		    AND POST_CONTENT LIKE '%${keyword}%'
	    </if>
		ORDER BY POST_NO DESC
	</select>
	
	<!-- 게시글 등록 -->
	<insert id="insertPost" parameterType="post">
		INSERT INTO BOARD_POST(POST_NO, POST_TITLE, POST_CONTENT, POST_WRITER, CATEGORY)
		VALUES(SEQ_BOARD_POSTNO.NEXTVAL, #{postTitle}, #{postContent}, #{postWriter}, #{category})
	</insert>
	
	<!-- 조회수 증가 -->
	<update id="increaseCount" parameterType="_int">
		UPDATE BOARD_POST
		SET COUNT = COUNT + 1
		WHERE POST_NO = #{postNo}
	</update>
	
	<!-- 단일 게시글 조회 -->
	<select id="selectPost" parameterType="_int" resultMap="postResultSet">
		SELECT POST_NO, POST_TITLE, POST_CONTENT, USER_ID, COUNT, CREATE_DATE
		FROM BOARD_POST P
		JOIN MEMBER ON POST_WRITER = USER_NO
		WHERE P.STATUS = 'Y' AND POST_NO = #{postNo}
	</select>
	
	<!-- 모든 댓글 조회 -->
	<select id="selectReplyList" parameterType="_int" resultMap="replyResultSet">
		SELECT REPLY_NO, REPLY_CONTENT, USER_ID, CREATE_DATE
		FROM BOARD_REPLY R
		JOIN MEMBER ON REPLY_WRITER = USER_NO
		WHERE R.STATUS = 'Y' AND REPLY_TYPE = 'C' AND REF_NO = #{postNo}
		ORDER BY CREATE_DATE DESC
	</select>
	
	<!-- 댓글 등록 -->
	<insert id="insertReply" parameterType="reply">
		INSERT INTO BOARD_REPLY(REPLY_NO, REF_NO, REPLY_CONTENT, REPLY_WRITER, REPLY_TYPE)
		VALUES(SEQ_REPLYNO.NEXTVAL, #{refNo}, #{replyContent}, #{replyWriter}, 'C')
	</insert>
	
	<!-- 게시글, 댓글 삭제 -->
	<update id="deleteObject" parameterType="hashmap">
		UPDATE 
		<choose>
			<when test='type.equals("P")'>BOARD_POST</when>
			<when test='type.equals("R")'>BOARD_REPLY</when>
		</choose>
		SET STATUS = 'N'
		WHERE
		<choose>
			<when test='type.equals("P")'>POST_NO</when>
			<when test='type.equals("R")'>REPLY_NO</when>
		</choose>
		  = #{refNo}
	</update>
	
	<!-- 게시글, 댓글 수정 -->
	<update id="updateObject" parameterType="hashmap">
		UPDATE 
		<choose>
			<when test='type.equals("P")'>BOARD_POST</when>
			<when test='type.equals("R")'>BOARD_REPLY</when>
		</choose>
		SET
		<choose>
			<when test='type.equals("P")'>POST_TITLE = #{postTitle}, POST_CONTENT = #{postContent}</when>
			<when test='type.equals("R")'>REPLY_CONTENT = #{replyContent}</when>
		</choose>
		WHERE
		<choose>
			<when test='type.equals("P")'>POST_NO</when>
			<when test='type.equals("R")'>REPLY_NO</when>
		</choose>
		  = #{refNo}
	</update>
</mapper>