<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">

	
	<select id="loginMember" parameterType="member" resultType="member">
	    SELECT * FROM MEMBER
	    WHERE USER_ID = #{userId}
	    	AND USER_PWD = #{userPwd}
	    	AND STATUS = 'Y'
	</select>
	
	<insert id="insertMember" parameterType="member">
		INSERT INTO MEMBER (
			USER_NO,
			USER_ID,
			USER_PWD, 
			PHONE,
			USER_TYPE
		) VALUES (
			SEQ_USERNO.NEXTVAL,
			#{userId},
			#{userPwd},
			#{phone},
			#{userType})
	</insert>

	<insert id="insertCorp" parameterType="Corporation">
		INSERT INTO CORPORATION(
			CORP_NO,
			CORP_NAME,
			CEO_NAME, 
			CORP_BN,
			ADDRESS,
			HOMEPAGE
		) VALUES (
			SEQ_USERNO.CURRVAL,
			#{corpName}, <!-- 기업명 -->
			#{ceoName}, <!-- 대표자명 -->
			#{corpBn}, <!-- 사업자 등록번호 -->
			#{address}, <!-- 회사 주소 -->
			#{homePage}) <!-- 홈페이지 주소 -->
	</insert>
	
	<insert id="insertLogo" parameterType="logo">
		INSERT INTO Logo
		VALUES (
			SEQ_FILENO.NEXTVAL,
			SEQ_USERNO.CURRVAL,
			#{originName},
			#{changeName}
			 <!-- 나중에 없앨 컬럼 -->
			,'A'
		)
	</insert>
	
	<update id="updateMember" parameterType="member">
		UPDATE MEMBER
		SET PHONE = #{phone}
		WHERE USER_NO = #{userNo}
	</update>
	
	<update id="updateCorporation" parameterType="Corporation">
		UPDATE CORPORATION
		SET CORP_NAME = #{corpName},
			CEO_NAME = #{ceoName},
			CORP_BN = #{corpBn},
			ADDRESS = #{address},
			HOMEPAGE = #{homePage}
		WHERE CORP_NO = #{corpNo}
	</update>

	<select id="selectMember" parameterType="_int" resultType="Member">
		SELECT *
		FROM MEMBER
		WHERE USER_NO = #{userNo}
	</select>
</mapper>