<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypageMapper">
	<resultMap id="noticeResultSet" type='Notice' />
	
	<resultMap id="interestCorpResultSet" type='joayoCorp' autoMapping="true" >
		<id column="JOAYO_NO" property="joayoNo"/>
		<association  property="corp" resultMap="boardMapper.corpResultMap" />
	</resultMap>
	
	<resultMap id="resumeResultSet" type='resume' autoMapping="true">
		<id column="WORKER_NO" property="workerNo"/>
	</resultMap>

	<!-- 리스트 목록 -->
	<select id="noticeList" parameterType="_int" resultMap='noticeResultSet'>
		SELECT NOTICE_NO, NOTICE_TYPE, NOTICE_TEXT
		FROM NOTICE N
		JOIN NOTICE_TYPE T USING (NOTICE_TYPE)
		WHERE RECEIVER = #{userNo}
	</select>
	
	
	<select id="interestCorpList" parameterType="_int" resultMap='interestCorpResultSet'>
		SELECT J.*, C.*, L.*
		FROM JOAYO_CORP J
		JOIN Corporation C ON (J.CORP_NO = C.CORP_NO)
		JOIN LOGO L ON (C.CORP_NO = L.CORP_NO)
		WHERE WORKER_NO = #{userNo}
	</select>
	
	<select id="interestCorpListCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM JOAYO_CORP
		WHERE WORKER_NO = #{userNo}
	</select>

	<select id="detailResume" parameterType="_int" resultMap='resumeResultSet'>
	SELECT worker_no, FORM_TITLE, WORKER_NAME, BIRTHDAY, GENDER, ADDRESS,
	IS_OPEN, job_NAME, CAREER, EDUCATION FROM RESUME
	JOIN occupation O USING(job_no)
	WHERE worker_no = #{workerNo}
	</select>
	
	<update id="updateResume" parameterType="Resume">
		UPDATE resume r
		SET r.form_title = #{formTitle},
    		r.address = #{address},
    		r.is_open = #{isOpen},
    		r.job_No = #{jobNo},
    		r.education = #{education},
    		r.career = #{career}
		WHERE r.worker_no = #{workerNo}
	</update>
	
	<update id="deleteNotice" parameterType="Notice">
		DELETE FROM notice n
 		WHERE n.notice_no = #{deleteNo}
	</update>
</mapper>   
