<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypageMapper">
	<resultMap id="noticeResultSet" type="Notice" />
	
	<resultMap id="interestCorpResultSet" type="joayoCorp" autoMapping="true" >
		<id column="JOAYO_NO" property="joayoNo"/>
		<association  property="corp" resultMap="boardMapper.corpResultMap" />
	</resultMap>
	
	<resultMap id="resumeResultSet" type="resume" autoMapping="true">
		<id column="WORKER_NO" property="workerNo"/>
	</resultMap>


	<!-- 리스트 목록 -->
	<select id="noticeList" parameterType="_int" resultMap='noticeResultSet'>
		SELECT NOTICE_NO, NOTICE_TYPE, NOTICE_TEXT
		FROM NOTICE N
		JOIN NOTICE_TYPE T USING (NOTICE_TYPE)
		WHERE RECEIVER = #{userNo}
	</select>
	
	<select id="interestCorpList" parameterType="_int" resultMap='interestCorpResultSet'>
		SELECT J.*, C.*, L.*
		FROM JOAYO_CORP J
		JOIN Corporation C ON (J.CORP_NO = C.CORP_NO)
		JOIN LOGO L ON (C.CORP_NO = L.CORP_NO)
		WHERE WORKER_NO = #{userNo}
	</select>
	
	<select id="interestCorpListCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM JOAYO_CORP
		WHERE WORKER_NO = #{userNo}
	</select>

	<select id="detailResume" parameterType="_int" resultMap='resumeResultSet'>
		SELECT WORKER_NO, FORM_TITLE, WORKER_NAME, BIRTHDAY, GENDER, ADDRESS,
		IS_OPEN, JOB_NO, CAREER, EDUCATION FROM RESUME
		WHERE WORKER_NO = #{workerNo}
	</select>
	
	<insert id="insertNotice">
		INSERT INTO NOTICE
		VALUES(SEQ_NOTICENO.nextval, #{receiverNo}, #{noticeType})
	</insert>
	
	<update id="updateResume" parameterType="resume">
		UPDATE resume 
		SET
			FORM_TITLE = #{formTitle},
			WORKER_NAME = #{workerName},
			BIRTHDAY = #{birthday},
			GENDER = #{gender},
			ADDRESS = #{address},
			JOB_NO = #{jobNo},
			IS_OPEN = #{isOpen},
			CAREER = #{career},
			EDUCATION = #{education}
		WHERE worker_no = #{workerNo}
	</update>
	
	<delete id="deleteNotice" parameterType="Notice">
		DELETE FROM notice n
 		WHERE n.notice_no = #{deleteNo}
	</delete>
	
	<insert id="insertResume" parameterType="resume">
		INSERT INTO RESUME
		VALUES (
			#{workerNo}, #{formTitle}, #{workerName},
			#{birthday}, #{gender}, #{address}, #{jobNo},
			#{isOpen}, #{career}, #{education}
		)
	</insert>
</mapper>   
