<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="postMapper">

	<select id="detailPost" parameterType="_int">
SELECT
		JOBPOST_NO,
        post_title,
        CEO_NAME,
        PHONE,
		EDUCATION,
		CAREER,
		J.JOB_NO,
		LOCATION,
		END_DATE,
		POST_CONTENT
		FROM JOP_POST J
        JOIN CORPORATION USING (CORP_NO)
        JOIN MEMBER ON (CORP_NO = USER_NO)
		WHERE JOBPOST_NO = #{jobpostNo}
		AND J.STATUS = 'Y'
	</select>

</mapper>