@charset "UTF-8";
body, h2, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head-container-h1{
	text-align: center;
  	font-weight: bold;
	font-size: 30px;
	margin-top: 40px;
	margin-bottom: 10px;
	padding-bottom:30px;
}  

.head-container {
  max-width: 1000px; 
  margin: 0 auto; 
}

.jobPostList-header {
	
  display: flex; 
  justify-content: space-between; 
  margin: 40px 0 20px 0; 
}

.jobPostList-header #category{
  border-radius: 5px;
  background-color: rgb(227, 236, 248);
  border: solid 1px #9caac9;
  color: #3a4755;
  cursor: pointer;
}

.jobPostList-header input[type="search"]{
	width: 400px;
	height: 35px;
	border-radius: 5px;
	border-color: skyblue;
	outline-color: skyblue;
}

.jobPostList-header button[type="button"]{
	height: 36px;
	border-radius: 5px;
	background-color: rgb(240, 244, 245);
	border: solid 1px #98c3ce;
	color: #5e7d8a;
	cursor: pointer;
}

.job-listing {
	display: flex;
	flex-wrap: wrap;
	padding: 0 10px;
	margin-bottom: 40px;
}
  
.job-card {
	flex-basis: 25%;
	cursor: pointer;
	height: 290px;
	margin: 40px;
	border-radius: 20px;
	border: 1px solid skyblue;
	overflow: hidden;
}

/* .company-logo는 채용공고 카드 내의 회사 로고 이미지를 스타일링합니다. */
.company-logo {
	height: auto; 
	margin-bottom: 20px; 
	border: solid 1px;
	border-radius: 20px; 
}

.job-offer-title{
	display: block; /*블록 레벨 요소로 만들어 줄 바꿈이 일어나지 않도록 함*/
	width: 25ch; /* 'O' 평균 너비를 x글자 분량으로 설정*/
	white-space: nowrap; /* 텍스트가 줄 바꿈되지 않고 한줄에 표시되도록 설정*/
	overflow: hidden; /*넘치는 텍스트를 숨김처리*/
	text-overflow: ellipsis; /*넘치는 텍스트를 말줄임표로 표시*/
}
.employee-condition{
	display: block; /* 블록 레벨 요소를 만들어 줄 바꿈이 일어나지 않도록 함*/
	width: 25ch; /* 'O' 평균너비를 22글자 분량으로 설정*/
	white-space: nowrap; /* 텍스트가 줄 바꿈되지 않고 한줄에 표시되도록 설정*/
	overflow: hidden;  /* 넘치는 텍스트를 숨김처리*/
	text-overflow: ellipsis; /* 넘치는 텍스트를 말줄임표로 표시*/
}


.job-info h2 {
	color: #333; 
	margin-bottom: 10px; 
}

.job-info{
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 0 20px 0 20px;
}

.job-info::after {
  content: "";
  position: absolute;
  top:0;
  left: 5%; 
  width: 90%; 
  border-top: 1px solid skyblue; 
}

.job-info h3,
.job-info p,
.job-info .corporate-name,
.job-info .deadline {
    width: 210px; /* 너비 제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #656666;
    line-height: 1.5;
    margin-bottom: 10px;
}


.job-info .deadline-box {
    display: flex;
    flex-direction: row-reverse;
    width: 250px; /* 너비 제한 */
}
	
.job-card-img{
	width : 250px; 
    min-height: 120px; 
    max-height: 120px; 
    border-radius: 20px 20px 0 0;
    margin-bottom: -4px; 
}

.job-info p, .job-info h3 {
	color: #656666; 
	line-height: 1.5; 
}
  
.corporate-name{
  font-weight: bold;  /*텍스트 굵기를 굵게 합니다*/
  font-size: larger;
  border-bottom: 1px solid skyblue; 
}

.deadline {
	font-weight: lighter; /* 마감일 텍스트의 굵기를 굵게 설정합니다. */
}

.deadline-box{
	display: flex;
	flex-direction: row-reverse;
}

.pagination{
	display: flex;
	justify-content: center;
	align-items: center;
}

.pagination a{
	border: 2px solid skyblue;
    border-radius: 5px;
    background-color: skyblue;
    color: #fff;   
    cursor: pointer;
    padding:3px 6px 3px 6px;
}