*{
    box-sizing: border-box;
}
	
body {
    margin: 0;
}

.topbar a{
    border: none;
    padding: 8px 30px;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    background-color: #666;
    border-radius: 5px;
    color: #fff;
}

.post a {
	cursor: pointer;
}

square {
    width: 850px;
    margin: 0 auto;
    display: block;
    padding: 20px;
}



square textarea {
    resize: none;
}

/* 제목박스 */
.titlebar {
    width: 350px;
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
}

/* 제목 다음 박스 */
.topbar {
    display: flex;
    font-size: large;
    margin: 20px 0;
}

.topbar img{
	max-width: 30px;
    height: 16px;
    margin-top: 9px;
    margin-bottom: 2px;
}

.topbar span{
	margin-left:-30px;
}

/* 제목 다음 박스 2등분 */
.topbar>article {
    display: flex;
    flex-basis: 50%;
    align-items: flex-end;
}

.topbar>article>* {
    width: 100px;
    text-align: center;
}

/* 제목 다음 박스 안 우측 박스 */
.topbar>article:last-of-type {
    flex-direction: row-reverse;
}

/* 게시글 박스, 댓글 박스 */
.post, .reply{
    display: flex;
    border: 1px solid #666;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 30px 30px 30px 30px;
    position: relative;
}

/* 게시글 내부 좌측 박스 */
.post-box {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    
}

/* 게시글 좌측 박스 내부 정보 박스 */
.post-info {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 10px;
}

/* 게시글 좌측 박스 내부 각 정보들 */
.post-info span:first-of-type {
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-info span:last-of-type {
    width: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-info input {
	width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #666;
    background-color: #eee;
    border-radius: 5px;
}

.post-info img:first-of-type {
	max-width: 40px;
    height: 16px;
    margin-top: 6px;
    margin-right: -14px;
}

.post-info img:last-of-type {
	max-width: 40px;
    height: 16px;
    margin-top: 5px;
    margin-right: -28px;
}

/* 게시글 좌측 박스 내부 제목 */
.post-title {
    width: 48%;
    text-align: center;
    font-size: 15px;
    font-weight: bolder;
    border: 0;
    padding: 0;
}
/* 게시글 좌측 박스 내부 내용 */
.post-box textarea {
    padding: 10px;
    overflow: auto; 
    width: 650px; 
    height: 300px; 
    resize: none;
    border: 1px solid #666;
    background-color: #eee;
    border-radius: 5px;
}

.post-box textarea:focus{
    outline-color: #666;
}

.reply-need-login{
	margin: 20px 5px 5px 30px;
}

.post-need-login {
    margin-left: 10px;
    margin-top: 300px; /* 적절한 크기로 조절하세요 */
}


/* 게시글 내부 우측 박스 (수정 삭제)*/
.post-need-login a{
	text-align: center;
    font-weight: bold;
    text-decoration: none;
    background-color: #666;
    padding:4px;
    border-radius: 5px;
    color: #fff;
}

.reply-need-login a{
	text-align: center;
    font-weight: bold;
    text-decoration: none;
    background-color: #666;
    padding:4px;
    border-radius: 5px;
    color: #fff;
}

/* 댓글 박스 */
.reply {
    flex-direction: column;
}

/* 댓글 작성 박스 안 버튼 */
#reply-insert {
	padding: 12px 30px 10px 30px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    align-items: center;
    background-color: #666;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

/* 댓글 박스 안 댓글 내용 */
.reply-write>textarea {
    min-height: 50px;
    flex-basis: 80%;
}

#reply-size {
    flex-basis: 99%;
    border: none;
    border-bottom: 1px solid #666;
    height: auto; 
    overflow: hidden; 
    resize: none;
    padding: 10px 20px 20px 30px;	
}

/* 댓글 좌측 박스 내부 정보 */
.reply-info {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-weight: bold;
    margin: 5px 0;
}

/* 댓글 박스 내부 박스 */
.reply-write, .reply-read {
    display: flex;
    margin-bottom: 20px;
}

/* 댓글 박스 */
.reply-read {
	min-height: 75px;
	cursor: pointer;
}


/* 댓글 박스 내부 좌측 박스 */
.reply-read>article:first-of-type {
    flex-basis: 80%;
	display: flex;
	flex-wrap: wrap;
}

/* 댓글 박스 내부 내용 */
.reply-read span {
	width: 30%;
	height: 25px;
	font-weight: bold;
	margin-left:4px;
}

.off{
	display: none;
}