*{
	font-family: 'SOYOMapleBoldTTF';
}
body {
    box-sizing: border-box;
    margin: 0;
}

square {
    width: 800px;
    margin: 0 auto;
    display: block;
}

square a {
    width: 100px;
    background-color: skyblue;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-size: larger;
    font-weight: bold;
    margin-left: 10px;
    padding: 7px;
}

/* 제목박스 */
.titlebar {
    width: 350px;
    text-align: center;
    font-size: 20px;
    margin: 0 auto;
}

/* 검색도구 */
.toolbar {
    display: flex;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid skyblue;
}

/* 검색도구 드롭다운 박스 */
.toolbar>article {
    display: flex;
    flex-basis: 50%;
}

/* 검색도구 카테고리 */
.toolbar select {
    width: 100px;
}

/* 검색도구 왼쪽 버튼 2개 박스 */
.toolbar>article:last-of-type {
    flex-direction: row-reverse;
}

/* 게시글 박스 */
.list-area {
    display: flex;
    flex-wrap: wrap;
}

/* 각 게시글 */
.post {
    width: 100%;
    display: flex;
    cursor: pointer;
    border-bottom: 2px solid skyblue;
}

/* 게시글 2등분 좌측 */
.post-content {
    display: flex;
    flex-basis: 80%;
    flex-direction: column;
    padding: 10px;
    padding-left: 20px;
    margin: 10px 0;
}

/* 게시글 내용 */
.post-content span {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* 게시글 제목 */
.post-title {
    font-weight: bold;
    font-size: larger;
    margin-bottom: 10px;
}

/* 게시글 정보(조회수 등) 박스 */
.post-info {
    display: flex;
    flex-basis: 20%;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

/* 게시글 정보 내용들 */
.post-info span {
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    font-size: 13px
}

/* 페이징 바 */
.pagingbar {
	display: flex;
	justify-content: center;
	margin-top: 30px;
}

/* 페이징 바의 각 버튼들 */
.pagingbar>button {
	margin: 0 7px;
	font-size: large;
}

/* select 바 */
#category {
    cursor: pointer;
    border: 1px solid skyblue;
    border-radius: 4px;
    outline-color: skyblue;
}

/* 검색창 input태그*/
.list-search{
    padding: 8px 12px;
    width: 100%;
    height: 38px;
    border: 0;
    box-sizing: border-box;
    letter-spacing: -1px;
    line-height: 20px;
    background: none;
    outline : none;
}

/* 검색창 input태그 감싸는 박스 */
.list-searchBox{
    border: 1px solid skyblue;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

/* 검색창 돋보기 이미지 */
square img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

/* 돋보기 이미지 hover */
square img:hover{
    cursor: pointer;
}

.post-info img {
    width: 20px;
    height: 16px;
}

.pagingbar button{
	border: 1px solid skyblue;
    border-radius: 5px;
    background-color: skyblue;
    color: white;   
    cursor: pointer;
}